*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    text-align: center;
}


.demo{
    padding: 10px;
    border: 2px solid #336440;
    background-color: #33644044;
}

.vip {
    color: rgb(114, 30, 30);

    padding: 20px;
    background-color:rgba(114, 30, 30, 0.224) ;
}